# API Coolify (frontend local → backend prod)
NEXT_PUBLIC_API_URL=https://api.webplatform.kdevs.io/api/v1

# Full-stack local (backend + frontend en local)
# NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

NEXT_PUBLIC_APP_URL=http://localhost:3000
